.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  h1 {
    margin-top: 50px;
  }
}

.container-small {
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
  h1 {
    margin-top: 20px;
  }
  p {
    margin-top: 20px;
  }
}

@media screen and (max-width: $MobilePortrait) {
  .container, .container-small {
    padding: 3em 1em 1em 1em;
  }
}

