.btn-1 {
  background-color: black;
  color: white;
  border-radius: 2px;
  padding: 7px 30px;
  text-decoration: none;
  cursor: pointer;
}

.btn-1-modal {
  background-color: black;
  color: white;
  border-radius: 2px;
  padding: 7px 30px;
  text-decoration: none;
  cursor: pointer;
  position: inherit;
  z-index: 1000;
  font-size: .8rem;
  font-weight: 600;
  
}