.checkboxes-filters {
  -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	// box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
  position: relative;
  margin-top:4px;
  margin-right: 12px;
  font-size: 32px;
}

.checkboxes-filters:checked {
  background-color: white;
	border: 1px solid #17181A;
	// box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color:white;
}

.checkboxes-filters:checked:after {
  content: '\2713';
  font-size: 20px;
  position: absolute;
  top: -3px;
  left: -1px;
  color: #17181A;
}

.checkbox-list {
  display: flex;
  align-items: center;
  margin:16px;
  font-size: 16px;
}