.footer {
    background-color: $gray900;
    color: white;
    font-family: $sans-bold !important;
}

.footer-contact {
    padding-left: 235px;
    padding-bottom: 110px;
    padding-top: 70px; 
}

.footer-department {
    color: $gray600;
    padding-left: 235px;
    padding-bottom: 30px;
}

#footer-heading {
    padding-bottom:8px !important;
}

#footer-email {
    padding-bottom:2px !important;
}
