// Desktop

.category {
  display: flex;
  .sidebar {
    width: 25%;
    padding: 20px;
    ul {
      list-style-type: none;
    }
  }
  .row-3 {
    width: 75%;
    padding-top: 20px;
    .card {
      margin-bottom: 30px;
    }
    .btn-container {
      padding-top: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// Responsive

@media screen and (max-width: $TabletLandscape) {
  .category {
    display: block;
    .sidebar {
      width: 100%;
      padding: 0;
      hr {
        display: none;
      }
      ul {
        display: none;
      }
    }
    .row-3 {
      width: 100%;
      .card {
        width: 48%;
      }
    }
  }
}

@media screen and (max-width: $MobilePortrait) {
  .category {
    .row-3 {
      .card {
        width: 100%;
      }
    }
  }
}
