// Desktop

.category {
  display: flex;
  .sidebar {
    width: 25%;
    padding: 20px;
    ul {
      list-style-type: none;
    }
  }
  .row-3 {
    width: 75%;
    .card {
      margin-bottom: 30px;
    }
  }
}

// Responsive

@media screen and (max-width: $MobilePortrait) {
  .category {
    display: block;
    .sidebar {
      width: 100%;
      padding: 0;
      hr {
        display: none;
      }
      ul {
        display: none;
      }
    }
    .row-3 {
      width: 100%;
      .card {
        width: 48%;
      }
    }
  }
}
