// Desktop

.category {
  display: flex;
  .sidebar {
    width: 25%;
    padding: 20px;
    ul {
      list-style-type: none;
    }
  }
  .row-3 {
    width: 75%;
    padding-top: 20px;
    grid-row-gap: 2em;
    .btn-container {
      padding-top: 20px;
      grid-column: span 3;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// Responsive

@media screen and (max-width: $TabletLandscape) {
  .category {
    display: block;
    .sidebar {
      width: 100%;
      padding: 0;
      hr {
        display: none;
      }
      ul {
        display: none;
      }
    }
    .row-3 {
      width: 100%;
    }
  }
}

@media screen and (max-width: $MobilePortrait) {
  .category {
    .row-3 {
      grid-template-columns: 1fr 1fr;
      padding-top: 10px;
    }
    .btn-container {
      grid-column: span 2 !important;
    }
  }
}
