.row-1 {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  .card {
    width: 30%;
    .image {
      background-color: grey;
      width: 100%;
      padding-bottom: 75%;
      border-radius: 3px;
      position: relative;
      .vendu {
        background-color: rgba(0,0,0,.7);
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 5px 8px;
        border-radius: 2px;
        label {
          color: white;
        }
      }
    }
    .desc {
      padding: 0 10px;
      p {
        margin: 12px 0 8px 0;
      }
    }
  }
}
.row-2 {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  .card {
    width: 22%;
    .image {
      background-color: grey;
      width: 100%;
      padding-bottom: 75%;
      border-radius: 3px;
      position: relative;
      .vendu {
        background-color: rgba(0,0,0,.7);
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 5px 8px;
        border-radius: 2px;
        label {
          color: white;
        }
      }
    }
    .desc {
      padding: 0 10px;
      p {
        margin: 12px 0 8px 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .row-1 {
    flex-direction: column;
    .card {
      width: 100%;
      padding: 20px 0;
    }
  }
  .row-2 {
    display: none;
  }
}
