// Desktop

.row-3 {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  .card {
    width: 30%;
    margin-right: 3.3%;
  }
}
.row-4 {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  .card {
    width: 22%;
    margin-right: 2.9%;
  }
}

// Responsive

@media screen and (max-width: $MobilePortrait) {
  .row-3 {
    .card {
      width: 100%;
      padding: 20px 0;
      margin: 0;
    }
  }
  .row-4 {
    display: none;
  }
}
