// Desktop
.row {
  display: flex;
  .caroussel {
    width: 55%;
    background-size: cover;
    border-radius: 2px;
  }
  .content {
    width: 45%;
    padding: 30px;
    h1 {
      margin: 0;
    }
    .call-to-action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      label {
        padding-left: 100px;
      }
    }
  }
}


// Respsonsive

@media screen and (max-width: $MobilePortrait) {
  .row {
    display: block;
    margin: -1em 0;
    .caroussel {
      width: 100%;
    }
    .content {
      width: 100%;
      padding: 0;
      margin-top: -180px;
      h1 {
        font-size: 24px;
      }
      .call-to-action label {
        padding-left: 28px;
      }
    }
  }
}
