
// Import

@font-face {
  font-family: 'sans light';
  src: url('../fonts/mn--light.otf') format('opentype');
}

@font-face {
  font-family: 'sans book';
  src: url('../fonts/mn--book.otf') format('opentype');
}

@font-face {
  font-family: 'sans medium';
  src: url('../fonts/mn--medium.otf') format('opentype');
}
@font-face {
  font-family: 'sans demi';
  src: url('../fonts/mn--demi.otf') format('opentype');
}

@font-face {
  font-family: 'serif italic';
  src: url('../fonts/fj--medium--italic.otf') format('opentype');
}

@font-face {
  font-family: 'serif';
  src: url('../fonts/fj--medium.otf') format('opentype');
}

$sans-base: 'sans book', sans-serif;
$serif-italic: 'serif italic', sans-serif;
$serif-roman: 'serif', sans-serif;
$sans-bold: 'sans medium', sans-serif;
$sans-black: 'sans demi', sans-serif;

