@import "breakpoints";
@import "colors";
@import "fonts";

/**
 * Reset some basic elements
 */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */

 $radius: 0.2rem;

 $timing: ease-in;
 $delay: 0.1s;
 $duration: 0.3s;

::selection{
  background: $gray200; /* WebKit/Blink Browsers */
}
::-moz-selection{
  background: $gray200; /* WebKit/Blink Browsers */
}

html{
  box-sizing: border-box;
  font-size: 16px; // 16px = 1rem
}

body {
    font-family: $sans-base;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: $gray900;
    background-color: white;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
}

h1{
  font: 500 2rem/1.25 $serif-roman;
  @media screen and (max-width: $TabletPortrait) {} //Later
}

h2{
  font: 500 2rem/1 $serif-italic;
  @media screen and (max-width: $TabletPortrait) {} //Later
}

h3{
  font: 500 1.5rem/0.75 $serif-italic;
  @media screen and (max-width: $TabletPortrait) {} //Later
}

h4{
  font: 500 1.25rem/0.85 $sans-bold;
  @media screen and (max-width: $TabletPortrait) {} //Later
}

h5{
  font: 500 1rem/0.66 $sans-black;
  @media screen and (max-width: $TabletPortrait) {} //Later
}

p{
  font: 400 1rem/1.66 $sans-base;
  @media screen and (max-width: $TabletPortrait) {} //Later
}
