@import "breakpoints";
@import "colors";
@import "fonts";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */

html{
 box-sizing: border-box;
 font-size: 62.5%;
}
